@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
.form-1, .form-2, .box-1, .box-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .fondo {
    margin: 0px !important;
  }
  .titulo-1 {
    font-size: 20px !important;
  }
  .pictures {
    height: 300px !important;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  ul {
    width: 100%;
    margin: 0;
  }
  .box-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pie-pagina .box-1 p {
    font-size: 10px;
  }
  .box-2 {
    margin-right: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box-2 h2 {
    font-size: 10px;
    padding: 10px;
  }
  .entrada {
    height: 520px !important;
    padding: 10px 30px 30px 30px;
    margin: auto;
  }
  .entrada-1 {
    height: 520px !important;
    padding: 10px 30px 30px 30px;
    margin: auto;
  }
  .producto {
    padding: 10px 20px 20px 20px;
  }
  .container2 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-1 {
    width: 100vw !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form-1 h2 {
    font-size: 20px;
  }
  .form-2 {
    width: 100vw !important;
    -ms-grid-row: 3;
        grid-row-start: 3;
    margin-top: 20px;
  }
  .form-2 h2 {
    font-size: 20px;
  }
  .video {
    width: auto;
  }
  .video-1 {
    width: 100%;
    height: 260px;
    padding: 10px !important;
  }
  .container-cajas {
    -ms-grid-columns: none !important;
        grid-template-columns: none !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
  }
  .cajitas {
    width: auto !important;
  }
  .cajitas img {
    width: 330px !important;
    height: 250px !important;
    margin: auto !important;
  }
  .cosas {
    display: contents !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
    margin: auto !important;
  }
  .entrada-pagina {
    width: auto !important;
    margin: 10px 10px 0px 10px;
    padding: 0%;
  }
  .entrada-pagina img {
    height: 650px !important;
  }
  .mapa {
    margin: 20px 0px 0px 0px !important;
  }
  .mapa iframe {
    width: 90vw !important;
    height: 300px;
    padding-left: 35px;
  }
  .spotify {
    padding: 10px;
  }
  .spotify-1 {
    padding: 10px;
    margin-top: 0px !important;
  }
  .spotify-2 {
    padding: 10px;
    margin-top: 0px !important;
  }
  .spotify-3 {
    padding: 10px;
    margin-top: 10px !important;
  }
  .spotify-4 {
    padding: 10px;
    width: 100% !important;
  }
  .spotify-5 {
    padding: 10px;
    width: 100% !important;
  }
  .precio {
    margin-right: 0px !important;
    -webkit-margin-start: 40px;
            margin-inline-start: 40px;
    margin-top: 0px !important;
    margin-bottom: 15px;
  }
  .texto {
    -webkit-margin-start: 20px;
            margin-inline-start: 20px;
  }
  .texto p {
    font-size: 15px !important;
  }
  .subtitulo {
    margin: 20px 0px 0px 20px;
  }
  .medios-pago {
    margin-left: 20px !important;
    margin-right: 0px !important;
  }
}

.barra-navegacion {
  background-color: black !important;
}

.barra-navegacion .titulo-1 {
  color: aliceblue;
  font-size: 26px;
  padding-left: 10px;
  font-family: 'Cinzel', serif;
}

.barra-navegacion .titulo {
  color: aliceblue !important;
  font-size: 15px;
}

.barra-navegacion .botonHamburguesa {
  background-color: #252525;
}

.barra-navegacion ul {
  list-style: none;
  text-align: center;
  width: 100%;
  padding: 0%;
  margin-bottom: 0%;
}

.barra-navegacion ul li {
  color: aliceblue;
  display: inline;
  background-color: black;
  width: 100%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.headerLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
  width: 100%;
  background-color: black;
}

.headerLogo img {
  width: 150px;
}

li:hover {
  -webkit-transform: translate(1.1px, 1.1px);
          transform: translate(1.1px, 1.1px);
  -webkit-box-shadow: 1px 1px 3px 1px #292828;
          box-shadow: 1px 1px 3px 1px #292828;
}

a {
  text-decoration: none;
}

a:link {
  color: aliceblue;
}

a:visited {
  color: aliceblue;
}

.container2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px;
}

.form-1 {
  background-color: rgba(0, 0, 0, 0.637);
  width: 500px;
  height: 420px;
  padding: 10px;
  border-radius: 10px;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.form-1 input {
  display: block;
  padding: 7px;
  margin: 10px 10px 10px 10px;
  width: 300px;
  border-radius: 20px;
}

.form-1 textarea {
  display: block;
  padding: 7px;
  margin: 10px 10px 10px 10px;
  width: 300px;
  height: 120px;
  border-radius: 20px;
}

.form-2 {
  background-color: rgba(0, 0, 0, 0.637);
  width: 500px;
  height: 420px;
  padding: 10px;
  border-radius: 10px;
}

.form-2 input {
  display: block;
  padding: 7px;
  margin: 10px;
  width: 300px;
  border-radius: 20px;
}

.titulo {
  font-size: 1.5rem;
  color: aliceblue;
  text-align: center;
  padding: 20px;
}

.boton {
  width: 300px;
  margin-left: 10px;
}

body {
<<<<<<< HEAD
  background-image: url(/galeria/wall.png);
=======
  background-image: url(../galeria/wall.png);
>>>>>>> 05f32ec7c14c987660805dfcfbbbb6a90d081490
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

.container-cajas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-cajas .cajitas {
  width: 500px;
  height: 550px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.637);
  margin: 20px;
  border-radius: 20px;
  -webkit-animation-name: nosotros;
          animation-name: nosotros;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.container-cajas .cajitas h2 {
  text-align: center;
  color: aliceblue;
  padding: 20px;
  font-size: 25px;
}

.container-cajas .cajitas p {
  color: aliceblue;
  text-align: center;
  line-height: 25px;
}

.container-cajas .cajitas img {
  height: 280px;
  width: 420px;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 20px 0px 20px 0px;
}

.container-cajas .cajitas .pic-details img {
  height: 280px;
  width: 420px;
  margin-left: 20px;
  margin-top: 35px;
  border-radius: 20px 0px 20px 0px;
}

.pie-pagina {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.pie-pagina p {
  color: aliceblue;
  padding: 10px;
}

.box-1 {
  margin: 15px;
  padding-top: 15px;
}

.box-2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  padding-right: 10px;
}

.box-2 h2 {
  color: aliceblue;
  font-size: medium;
  padding-right: 10px;
}

.pie-pagina .box-2 .red-social i {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background-color: rgba(65, 7, 7, 0.747);
  border-radius: 10px;
  text-align: center;
  color: aliceblue;
  font-size: 19px;
  margin-right: 3px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.red-social i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.fondo {
  background-color: rgba(0, 0, 0, 0.678);
  margin: 0px 200px 30px 200px;
  border-radius: 20px;
}

.subtitle h2 {
  font-size: 20px;
  color: aliceblue;
  height: 80px;
  text-align: center;
  padding: 30px 20px 20px;
  margin-top: 10px;
}

.entrada-1 {
  height: 700px;
  padding-bottom: 20px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 100%;
}

.entrada-1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.entrada {
  height: 700px;
  padding-bottom: 20px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 100%;
}

.fondo {
  background-color: rgba(0, 0, 0, 0.678);
  margin: 0px 200px 30px 200px;
  border-radius: 30px;
}

.producto {
  height: 450px;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 100%;
}

.producto:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.subtitulo h2 {
  font-size: 20px;
  color: aliceblue;
  height: 80px;
  text-align: center;
  padding: 30px 20px 20px;
  margin-top: 10px;
}

.cosas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto 400px;
      grid-template-columns: auto auto 400px;
  -ms-grid-rows: 50px 250px 250px 250px 200px 250px;
      grid-template-rows: 50px 250px 250px 250px 200px 250px;
  justify-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 40px 40px 0px 0px;
  margin: 40px;
  background-color: rgba(0, 0, 0, 0.678);
  border-radius: 30px;
}

.subtitulo {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  color: aliceblue;
  font-style: oblique;
}

.entrada-pagina {
  -ms-grid-row: span 4;
      grid-row-start: span 4;
  width: 600px;
  padding: 0px 20px 20px 20px;
  margin-right: 20px;
}

.entrada-pagina .flyer {
  width: 100%;
}

.precio {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 5;
      grid-row-start: 5;
  width: 80%;
  height: 70px;
  margin-top: 40px;
  text-align: center;
  background-color: rgba(240, 248, 255, 0.486);
  font-size: 23px;
  padding-top: 17px;
  border-radius: 20px;
}

.precio p {
  color: aliceblue;
}

.mapa {
  margin: 48px 50px 0px 0px;
}

.spotify {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  width: 100%;
}

.spotify-1 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  width: 100%;
  margin-top: 40px;
}

.spotify-2 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 4;
      grid-row-start: 4;
  width: 100%;
  margin-top: 80px;
}

.spotify-3 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 6;
      grid-row-start: 6;
  width: 100%;
  margin-top: -60px;
}

.spotify-4 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 6;
      grid-row-start: 6;
  width: 90%;
  margin-right: 50px;
}

.spotify-5 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 6;
      grid-row-start: 6;
  width: 90%;
}

.texto {
  width: 90%;
  height: 320px;
  -ms-grid-row: span 2;
      grid-row-start: span 2;
  grid-row-end: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
  background-color: black;
  border-color: #262b30;
  border-style: solid;
  margin-right: 50px;
  font-family: 'Cinzel', serif;
}

.texto h3 {
  color: aliceblue;
  text-align: center;
  padding: 30px;
}

.texto p {
  color: aliceblue;
  font-size: 18px;
  padding-left: 20px;
}

.medios-pago {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 5;
      grid-row-start: 5;
  text-align: center;
  font-size: 20px;
  width: 90%;
  height: 120px;
  margin: 10px 50px 0px 0px;
  border-radius: 20px;
  background-color: rgba(240, 248, 255, 0.486);
}

.medios-pago p {
  padding-top: 10px;
  color: aliceblue;
}

.medios-pago i {
  padding-right: 50px;
  padding-left: 50px;
  font-size: 25px;
  color: aliceblue;
}

.redes {
  text-align: center;
  width: 100%;
  height: 280px;
  background-color: black;
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-row: 6;
      grid-row-start: 6;
  margin-right: 30px;
  margin-top: -40px;
  border-radius: 50px;
}

.redes h4 {
  color: aliceblue;
  padding: 20px;
}

.redes p {
  color: aliceblue;
  font-size: 17px;
}

.redes i {
  font-size: 18px;
  padding-right: 10px;
  color: aliceblue;
  margin-left: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pictures {
  margin-top: 20px;
  height: 930px;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

.whatsapp {
  display: inline-block;
  position: fixed;
  bottom: 120px;
  right: 20px;
  background-color: rgba(65, 7, 7, 0.747);
  width: 60px;
  height: 60px;
  border-radius: 30px;
  text-align: center;
  padding-top: 8px;
}

.whatsapp i {
  font-size: 40px;
  color: aliceblue;
}

i:hover {
  color: #464343;
}

@-webkit-keyframes nosotros {
  0% {
    opacity: 10%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes nosotros {
  0% {
    opacity: 10%;
  }
  100% {
    opacity: 100%;
  }
}
/*# sourceMappingURL=style.css.map */