@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import "./partials/mapas";
@import "./partials/mediaQuerys";
@import "./partials/header";
@import "./partials/contacto";
@import "./partials/body";
@import "./partials/nosotros";
@import "./partials/footer";
@import "./partials/entradas";
@import "./partials/productos";
@import "./partials/pagina-entrada-uno";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pictures{
    margin-top: 20px;
    height: 930px;
}

.video{
    display: flex;
    justify-content: center;
    padding: 30px;
}


.whatsapp{
    display: inline-block;
    position: fixed;
    bottom:120px;
    right: 20px;
    background-color: rgba(65, 7, 7, 0.747);
    width: 60px;
    height: 60px;
    border-radius: 30px;
    text-align:center;
    padding-top: 8px;
    i{
        font-size: 40px;
        color: aliceblue;
    }
}

i:hover{
    color: rgb(70, 67, 67);
}


@keyframes nosotros{
    0%{
        opacity: 10%;
    }

    100%{
        opacity: 100%;
    }
}