.container2{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-around;
    align-items: flex-end;
    padding: 60px;
}

.form-1{
    background-color:map-get($mapa, background-color);
    width: 500px;
    height: 420px;
    @extend %flex;
    padding: 10px;
    border-radius: 10px;
    grid-column-start: 1;
    input{
        display: block;
        padding: 7px;
        margin: 10px 10px 10px 10px;
        width: 300px;
        border-radius: 20px;    
    }
    textarea{
        display: block;
        padding: 7px;
        margin: 10px 10px 10px 10px;
        width: 300px;
        height: 120px;
        border-radius: 20px;
    }
}

.form-2{
    background-color:map-get($mapa , background-color);
    width: 500px;
    height: 420px;
    @extend %flex;
    padding: 10px;
    border-radius: 10px;
    input{
        display: block;
        padding: 7px;
        margin: 10px;
        width: 300px;
        border-radius: 20px;
    }
}

.titulo{
    font-size:1.5rem;
    color:map-get($mapa, color);
    text-align: center;
    padding: 20px;
}

.boton{
    width: 300px;
    margin-left: 10px;
}