.fondo{
    background-color: rgba(0, 0, 0, 0.678);
    margin:0px 200px 30px 200px;
    border-radius: 20px;
}

.subtitle h2{
    font-size: 20px;
    color:map-get($mapa, color );
    height: 80px;
    text-align: center;
    padding: 30px 20px 20px;
    margin-top: 10px;
}

.entrada{
    height: 700px;
    padding-bottom: 20px;
    transition: all 0.3s linear;
    width: 100%;
}

.entrada:hover{
    transform: scale(1.1);
}

