@media screen and (max-width:768px) {
    .fondo{
        margin: 0px !important;
    }

    .titulo-1{
       font-size: 20px !important;
    }

    .pictures{
        height: 300px !important;
    }

    main{
        display: flex;
        flex-direction: column;
    }

    ul{
        width: 100%;
        margin: 0;
    }

    .box-1{
        flex-direction: column;
    }
    .pie-pagina .box-1 p{
        font-size: 10px;
    }

    .box-2{
        margin-right: 20px;
        flex-direction: column;
        h2{
            font-size: 10px;
            padding: 10px;
        }
    }

    .entrada{
        height: 520px !important;
        padding: 10px 30px 30px 30px;
        margin: auto;
    }
    .entrada-1{
        height: 520px !important;
        padding: 10px 30px 30px 30px;
        margin: auto;
    }

    .producto{
        padding: 10px 20px 20px 20px;
    }

    .container2{
        width: 100vw;
        flex-direction: column;
    }

    .form-1{
        width: 100vw!important;
        justify-content: center;
        h2{
            font-size: 20px;
        }
    }

    .form-2{
        width: 100vw!important;
        grid-row-start: 3;
        margin-top:20px;
        h2{
            font-size: 20px;
        }
    }
    .video{
        width: auto;
    }
    .video-1{
        width: 100%;
        height: 260px;
        padding: 10px !important;
    }
    
    .container-cajas{
        grid-template-columns:none !important;
        flex-direction: column;
        width:100vw;
    }

    .cajitas{
        width: auto !important;
        img{
            width: 330px !important;
            height: 250px !important;
            margin: auto!important;
        }
    }

    .cosas{
        display:contents !important;
        justify-content: center;
        width: 100vw;
        margin: auto !important;
    }

    .entrada-pagina{
        width: auto !important;
        margin: 10px 10px 0px 10px;
        padding: 0%;
        img{
            height: 650px !important;
        }
    }

    .mapa{
        margin: 20px 0px 0px 0px !important;

        iframe{
          width:90vw !important;
          height: 300px;
          padding-left: 35px;
          
        }
    }
    
    .spotify{
        padding: 10px;
    }
    .spotify-1{
        padding: 10px;
        margin-top: 0px !important;
    }
    .spotify-2{
        padding: 10px;
        margin-top: 0px !important;
    }
    .spotify-3{
        padding: 10px;
        margin-top: 10px !important;
    }
    .spotify-4{
        padding: 10px;
        width: 100% !important;
    }
    .spotify-5{
        padding: 10px;
        width: 100% !important;
    }

    .precio{
        margin-right: 0px !important;
        margin-inline-start: 40px;
        margin-top: 0px !important;
        margin-bottom: 15px;
    }

    .texto{
        margin-inline-start: 20px;
        p{
            font-size: 15px !important;
        }
    }

    .subtitulo{
        margin: 20px 0px 0px 20px;
    }

    .medios-pago{
        margin-left: 20px !important;
        margin-right: 0px !important;
    }
}