@media screen and (max-width:768px) {

    .pictures{
        height: 500px !important;
    }

    .subtitulo h2{
        margin:20px 181px 0px 181px;
    }

    .subtitle h2{
        margin:20px 181px 0px 181px;
    }

    main{
        display: flex;
        flex-direction: column;
    }

    ul{
        width: 100%;
        margin: 0;
    }

    .pie-pagina .box-1 p{
        font-size: 12px;
    }

    .pie-pagina .box-2{
        padding-right: 10px;
    }

    .pie-pagina .box-2 h2{
        font-size: 12px;
        margin: auto;
    }

    .form-1{
        grid-column-start: 1;
        margin-bottom: 30px;
        justify-content: space-around;
    }

    .form-2{
        grid-row-start: 3;
        margin-top: 30px;
        justify-content: space-around;
    }

    .video-1{
        width: 600px;
        height: 450px;
    }
    
    .container-cajas{
        grid-template-columns:none !important;
        justify-items: center;
        align-items: center;
    }
}