.cosas{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-items: center;
}

.entrada-pagina{
    width: 500px;
    margin: 20px;
    .flyer{
        width: 100%;
        height: 100%;
    }
}

.mapa{
    margin: 20px;
}
.bandas{
    justify-content: flex-start;
    margin: 20px;
    h3{
        color:aliceblue;
    }

}
